body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 28px;
}
p{
    font-size: 18px;
    text-align: justify;
}
.flaxiable-continer{
    display: flex;
    margin-bottom: 100px;
}
.primary-color{
    color: #2DB1FF;
}
.helf-width{
    width: 50%;
    padding-left: 5%;
    padding-top: 2%;
}
.helf-width img{
    padding-top: 5%;
    width: 100%;
    height: 90%;
}
.link-button{
    text-decoration: none;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    background-image: linear-gradient(#2DB1FF, #3c839b);
    padding: 10px 40px;
}
.top-banner{
    background-image: url(image/Desktop\ -\ 1.png);
    background-repeat: no-repeat;
}
#dream-big{
    background-image: url(image/Desktop\ -\ 2.png);
    background-repeat: no-repeat;
}
.experience-area{
    margin-bottom: 150px;
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    box-shadow: 10px 10px 40px gray;
    border-radius: 8px;
    background-color: white;
}
.experience-area{
    background-image: url('image/Desktop\ -\ 3.png');
    background-repeat: no-repeat;
}
#experience{
    margin-left: 5%;
}
.full-stack-exp{
    border-left: 8px solid;
    border-radius: 10px;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
.jonior-web-exp{
    border-left: 8px solid;
    border-image: linear-gradient(orange, tomato);
    border-image-slice: 1;
}
.footer{
    height: 75px;
    width: 100%;
    background-color: rgb(5, 7, 7);
    text-align: center;
    padding: 20px;
    color:white;
    font-size: 20px;
    font-weight: bold;
}
.footer p {
    text-align: center;
}
